@import './../../../styles/variables.module.scss';


.TabSwitcher{
    background-color: $gray;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}
.Button{
    padding: 10px 10px;
    border: 1px solid $gray; 
    color: $text-gray;
    border-radius: 5px;
    cursor: pointer;
}

.Active{
    background-color: $white;
    color: $text;

}